<main>
  <h1 style='color: {{color1}}'>{{data.name}}</h1>
  <h3 class='description' style='color: {{color2}}'>{{data.description}}</h3>
  <h5>Commonroom Location: {{data.location}}<h5>
  <h5>Mascot: {{data.mascot}}</h5>
  <h5>Colors: {{data.colours}}</h5>
  <h5>Head of House: {{data.head}}</h5>
</main>
