<main>
  <h1>{{data.student_name}}</h1>
  <h3>Patronus: {{data.patronus}}</h3>
  <h5>Year: {{data.year}}</h5>
  <h5>House: {{data.house_name}}</h5>
  <h5>House Description: {{data.house_description}}</h5>
</main>
